html {
    background: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

.theme--light.v-application {
    background: transparent;
}

.search-div {
    display: flex;
    border-radius: 34px;
    width: 100%;
}

@media screen and (min-width: 1150px) {
    .search-div {
        width: 60% !important;
    }
}

.search-div .input-field .v-text-field--rounded {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-div .search-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-btn {
    display: flex;
    height: 100% !important;
    width: 100%;
    font-size: 16px;
    color: #fff !important;
    border: 0;
    cursor: pointer;
    padding-left: 0 !important;
}

.v-text-field--rounded > .v-input__control > .v-input__slot {
    padding-right: 6px !important;
}

.text-field--display .v-text-field--rounded > .v-input__control > .v-input__slot {
    padding: 0px 6px !important;
}

.text-field--display .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot {
    min-height: 10px;
}

.search-keyword-field {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-keyword-field .v-input__control {
    margin-top: 1px;
}

.search-keyword-field.v-input--is-focused .v-input__append-outer {
    border: 1px solid var(--v-primary-base);
    border-left: none;
}

.search-keyword-field.v-input--is-focused .v-input__append-outer .v-btn {
    padding: 28px 0px;
}

.search-keyword-field .v-input__append-outer {
    margin: 0px !important;
    background-color: var(--v-success-base);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-keyword-field .v-input__append-outer .v-btn {
    padding: 29px 0px;
}

.search-list .v-list-item:hover {
    background-color: var(--v-accent-base);
}

